apiVersion: apps.jack.cn/v1
kind: Application
metadata:
  labels:
    app.kubernetes.io/name: application-operator
    app.kubernetes.io/managed-by: kustomize
    app: nginx
  name: application-sample
spec:
  # TODO(user): Add fields here
  replicas: 1
  template:
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2
          ports:
          - containerPort: 80

